@import "tailwindcss";

@theme {
  --color-bg-primary: #0e0826;
  --color-bg-nav: #0d1426;
  --color-bg-footer: #070b18;
  --color-accent: #1f75fe;
  --color-text-primary: #d1d1d1;
}

[data-theme="dark"] {
  --color-bg-primary: #0a0f1e;
  --color-text-primary: #d1d1d1;
  --color-bg-nav: #0d1426;
  --color-bg-footer: #070b18;
}

[data-theme="light"] {
  --color-bg-primary: #f5f7fa;
  --color-text-primary: #0e0826;
  --color-bg-nav: #e9edf2;
  --color-bg-footer: #dde3eb;
}

@layer utilities {
  form input:-webkit-autofill,
  form input:-webkit-autofill:hover,
  form input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-text-primary) !important;
    transition: background-color 9999s ease-in-out 0s !important;
  }
}
body {
  background-color: var(--color-bg-primary);
}
body::-webkit-scrollbar {
  width: 9px;
}
.projectList::-webkit-scrollbar {
  height: 8px;
}
body::-webkit-scrollbar-track,
.projectList::-webkit-scrollbar-track {
  background-color: var(--color-neutral-600);
}
body::-webkit-scrollbar-thumb,
.projectList::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-400);
}
.adminList a {
  padding: 4px 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.adminList a.active {
  background-color: var(--color-gray-700);
}
