@import "tailwindcss";
@theme {
  --color-bg-primary: #0e0826;
  --color-bg-nav: #0d1426;
  --color-bg-footer: #070b18;
  --color-accent: #1f75fe;
  --color-text-primary: #d1d1d1;
}

[data-theme="dark"] {
  --color-bg-primary: #0a0f1e;
  --color-text-primary: #d1d1d1;
  --color-bg-nav: #0d1426;
  --color-bg-footer: #070b18;
}

[data-theme="light"] {
  --color-bg-primary: #f5f7fa;
  --color-text-primary: #0e0826;
  --color-bg-nav: #e9edf2;
  --color-bg-footer: #dde3eb;
}

@layer utilities {
  form input:-webkit-autofill,
  form input:-webkit-autofill:hover,
  form input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-secondary) !important;
    transition: background-color 9999s ease-in-out 0s !important;
  }
}
body {
  background-color: var(--color-bg-primary);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 9px;
}
body::-webkit-scrollbar-track {
  background-color: var(--color-neutral-800);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-400);
}
